

body{
    background: linear-gradient(skyblue  , pink , white ) no-repeat;
    height: auto;
    
}
input{
    width: 300px;
    height: 60px;
    font-size: 15px;
    color: black;
    border-radius: 30px;
    border: 1px solid black;
    gap: 10px;
    margin: 10px;
}
label{
    color: black;
    font-size: 15px;
}